* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lohit Marathi", Arial, "Droid Serif", "sans-serif";
}

body,
html {
  background-color: white;
  color: black;
  user-select: none;
  touch-action: manipulation;
  /* height: 100vh; */
}
.main {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15em;
  transition: font-weight 1s;
}
.Gname{
  font-size: 0.2em;
}

.controllers {
  position: absolute;
  display: inline-block;
  bottom: 5%;
  left: 5%;
}
.controls {
  padding: 1rem 2rem;
  font-size: 25px;
  border: 1px solid black;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: rgb(0, 2, 2);
}

#data a {
  text-decoration: none;
  color: white;
}

#lock {
  position: fixed;
  left: 90%;
  bottom: 80%;
  padding: 0.5rem 1rem 1rem 1rem;
}

@media screen and (max-width: 900px) {
  #lock {
    left: 85%;
    bottom: 85%;
    padding: 0.5rem 1rem 1rem 1rem;
  }
}

@media screen and (max-width: 558px) {
  .main {
    font-size: 10rem;
  }
  .controls {
    font-size: 20px;
    padding: 1rem 1.5rem;
    border-radius: 10px;
  }
  
  #lock {
    left: 80%;
    bottom: 90%;
    padding: 0.5rem 1rem 1rem 1rem;
  }
} 

