body {
  background-color: rgb(67, 103, 103);
  color: azure;
  user-select: none;
  touch-action: manipulation;
  
}
.main {
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  font-size: 15rem;
  transition: font-weight 1s;
}
#btn{
    position: relative;
    left: 5rem;
    width: 6.5rem;
    font-size: 30px;
    padding: 1rem 0;
    border: 1px solid black;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    background-color: rgb(67, 103, 103);
}
